.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  height: 115vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.Cards {
  color: rgb(0, 0, 0);
}

.Card {
  margin: 50px;
  width: 400px;
}

.CardText {
  font-size: 15px;
  width: 250px;
  white-space: pre;
  text-overflow: ellipsis;
}

.NavbarText {
  font-size: 12px;
}